.footer {
    width: 100%;
    height: 120px;
    background-color: #000;
    color: #fff;
    padding: 24px 0;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copy {

    padding-top: 25px;
    font-size: 20px;
}
.footer-tagline {
    padding-top: 25px;
    font-size: 20px;
    opacity: 0.7;
}
