.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 64px;

    background-color: #000;
    z-index: 1000;
}
.navbar-item a {
    color: #fff;
    text-decoration: none;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;   /* KEY */
    height: 100%;
    list-style: none;
    margin: 0;
    padding-left: 32px;

}

/* li fills ul height and centers text */
.navbar-item {
    height: 100%;
    display: flex;          /* KEY */
    align-items: center;    /* vertical centering */
    padding: 0 20px;

    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.navbar-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
